{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <h5 class="text-muted">On {{ post.date }}</h5>
            <div class="article-metadata">
              <h4><a class="mr-2" href="#">{{ post.person }}</a></h4>
            </div>
            <h5>bought</h5>
            <h2><a class="article-title" href="#"> {{ post.item }}</a></h2>
            <h3><p class="article-content">Rs.{{ post.price }}</p><h3>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
